# Virtual environment
.venv/

# Environment variables
.env
.env.*
!.env.example

# Python
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# SQLite
*.db
*.sqlite
*.sqlite3

# Test / coverage
.pytest_cache/
.coverage
htmlcov/

# OS
.DS_Store
Thumbs.db


docs/Nifty100_Project_Document_FINAL.docx
